* {
  margin: 0;
  padding: 0;
}
#header {
    background: #f5fffa;
    border-bottom: #00f solid 1px;
    overflow: hidden;
}
h1#appname {
    color: #00f;
    font-size: 22px;
    font-weight: normal;
    margin: 10px 0;
    padding: 0 20px;
}

#main {
    margin: 10px 15px;
}
.row1 {
    background: #edf3fe;
}
h1 {
    font-size: 18px;
    color: #666;
    padding: 0 6px;
}
a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-color: #ccc;
}
h2, caption {
    background-color:  #9ab7d6;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 5px 3px 5px;
    text-align: left;
}
.newlink {
    padding: 2px 8px 0 12px;
}
td, th {
    border-bottom: 1px solid #eee;
    padding: 5px;
}
th {
    color: #333;
    text-align: left;
}
.errmsg {
    color: #f00;
}
