@import url('base.css');
.admin-menu {
    width: 500px;
    border: 1px solid #ccc;
}
#changelist {
    width: 100%;
}
#changelist table {
    width: 100%;
}
.newlink {
    clear: both;
    float: right;
}
fieldset {
    border: 1px solid #ccc;
    margin-bottom: 0.5em;
}
.form-row {
    clear: both;
    padding: 8px 0;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.form-row label {
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 2em;
    margin-right: 1em;
    text-align: right;
    width: 12em;
}
.submit-btn {
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: right;
}
.delbox {
    float: left;
}
.delbox a {
    color: #f00;
}
