<%inherit file="/base.html"/>
<%namespace file="fields.html" name="fields"/>
<%def name="page_title()">Change Film</%def>\
<div id="content">
  % if errors:
  <p class="errmsg">Please correct the following errors:</p>
    % if None in errors:
      <div class="errmsg">${errors[None]}</div>
    % endif
  % endif
  <form class="mainform" name="chgfilm" action="/film/save/${id}"
        method="post">
    ${fields.body(edit=True)}
    <div class="submit-btn">
      <p class="delbox"><a href="/film/delete/${id}">Delete</a></p>
      <input type="submit" name="save" value="Save" />
    </div>
  </form>
</div>
