<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      Select film to change: Movies Database Application
    </title>
    <link rel="stylesheet" type="text/css" media="screen"
	  href="/static/dbapp.css" />
  </head>

  <body>
    <div id="page">
      <div id="header">
	<h1 id="appname">Movies Database Application</h1>
      </div>
      <div id="main">
	<h1>Select film to change</h1>
	<ul class="newlink"><li><a href="/film/new">New film</a></li></ul>
	<div id="changelist">
	  <table border="1">
	    <thead>
	      <tr><th>Name</th></tr>
	      %(film_tbl)s
	    </thead>
	    <tbody>
	      </tr>
	    </tbody>
	  </table>
	</div>
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>
