<%inherit file="/base.html"/>
<%def name="page_title()">Select film to change</%def>\
<ul class="newlink"><li><a href="/film/new">New film</a></li></ul>
<div id="changelist">
  <table border="1">
    <thead>
      <tr><th>Name</th></tr>
      % for i, film in enumerate(films):
      <tr class="row${(i % 2 + 1)}">
        <th scope="row"><a href="/film/${film[0]}">${'%s - %d' % (
	    film[1], film[2])}</a></th>
      </tr>
      % endfor
    </thead>
    <tbody>
      </tr>
    </tbody>
  </table>
</div>
