<%inherit file="/base.html"/>
<%namespace file="fields.html" name="fields"/>
<%def name="page_title()">New Film</%def>\
<div id="content">
  % if errors:
  <p class="errmsg">Please correct the following errors:</p>
    % if None in errors:
      <div class="errmsg">${errors[None]}</div>
    % endif
  % endif
  <form class="mainform" name="addfilm" action="/film/create"
	method="post">
    ${fields.body()}
    <div class="submit-btn">
      <input type="submit" name="save" value="Save" />
    </div>
  </form>
</div>
