<%def name="error(name)">\
% if errors and name in errors:
  <div class="errmsg">${errors[name]}</div>
% endif
</%def>\
<%def name="checkbox(name, label, value=None)">
<div class="form-row">
${error(name)}\
  <label for="${name}">${label}: </label>
  <input type="checkbox" id="${name}" name="${name}"\
${value and ' checked="checked"' or ''} />
</div>\
</%def>\
<%def name="select(name, label, iter, value=None)">
<div class="form-row">
${error(name)}\
  <label for="${name}">${label}: </label>
  <select id="${name}" name="${name}">
    % for (k, v) in iter:
        % if value:
    <option value="${k}"\
${k == value and ' selected="selected"' or ''}>${v}</option>
        % else:
    <option value="${k}">${v}</option>
        % endif
    % endfor
  </select>
</div>\
</%def>\
<%def name="text(name, label, size, value=None, readonly=False)">
<div class="form-row">
${error(name)}\
  <label for="${name}">${label}: </label>
  <input type="text" id="${name}" name="${name}" size="${size}"\
${value and (' value="%s"' % unicode(value).replace('"', '&quot;')) or ''}\
${readonly and ' readonly="readonly"' or ''} />
</div>\
</%def>\
<%def name="textarea(name, label, rows, cols, value=None)">
<div class="form-row">
${error(name)}\
  <label for="${name}">${label}: </label>
  <textarea id="${name}" name="${name}" rows="${rows}" cols="${cols}">\
${value or ''}</textarea>
</div>\
</%def>\
