{# Individual field error message #}
{% macro field_error(name, errors=None) %}
{%- if errors and name in errors %}
  <div class="errmsg">{{ errors[name] }}</div>
{% endif -%}
{% endmacro %}

{# Checkbox #}
{% macro checkbox(name, label, value=None, errors=None) %}
<div class="form-row">
  {{- field_error(name, errors) }}
  <label for="{{ name }}">{{ label }}: </label>
  <input type="checkbox" id="{{ name }}" name="{{ name }}"
         {%- if value %} checked="checked"{% endif %} />
</div>
{%- endmacro %}

{# Drop-down selector #}
{% macro select(name, label, values, value=None, errors=None) %}
<div class="form-row">
  {{- field_error(name, errors) }}
  <label for="{{ name }}">{{ label }}: </label>
  <select id="{{ name }}" name="{{ name }}">
    {% for key, val in values.items() -%}
    <option value="{{ key }}"
      {%- if value and key == value %} selected="selected"{% endif -%}>
      {{- val }}</option>
    {% endfor %}
  </select>
</div>
{%- endmacro %}

{# Single-line text input #}
{% macro text(name, label, size, value=None, readonly=False, errors=None) %}
<div class="form-row">
  {{- field_error(name, errors) }}
  <label for="{{ name }}">{{ label }}: </label>
  <input type="text" id="{{ name }}" name="{{ name }}" size="{{ size }}"
         {%- if value %} value="{{ value|e }}"{% endif %}
         {%- if readonly %} readonly="readonly"{% endif %} />
</div>
{%- endmacro %}

{# Multi-line text input #}
{% macro textarea(name, label, rows, cols, value=None, errors=None) %}
<div class="form-row">
  {{- field_error(name, errors) }}
  <label for="{{ name }}">{{ label }}: </label>
  <textarea id="{{ name }}" name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}">
  {%- if value %}{{ value }}{% endif %}</textarea>
</div>
{%- endmacro %}
