<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      Site Administration: Movies Database Application
    </title>
    <link rel="stylesheet" type="text/css" media="screen"
	  href="/static/dbapp.css" />
  </head>

  <body>
    <div id="page">
      <div id="header">
	<h1 id="appname">Unknown Page - Movies Database Application</h1>
      </div>
      <div id="main">
	<h1>Site Administration</h1>
	<div id="content">
	  <h2>Not Found</h2>

	  <p>You have attempted to access a page that is <b>not available</b>
	    within the administrative website.</p>
	  <p>Additional information: <b>%(msg)s</b></p>
	</div>
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>
