{% extends "base.html" %}
{% block page_title %}Are you sure?{% endblock %}
{% block content %}
{%- if errors %}
<p class="errmsg">Please correct the following errors:</p>
  {%- if None in errors %}
    <div class="errmsg">{{ errors[None] }}</div>
  {% endif -%}
{% endif %}
<p>Are you sure you want to delete the film "{{ film|e }}"?
  All of the following related items will be deleted:</p>
<ul>
  <li>Film: <a href="/film/{{ id }}">{{ film|e }}</a>
  </li>
</ul>
<form action="" method="post">
  <div>
    <input type="submit" value="Yes, I'm sure" />
  </div>
</form>
{% endblock %}
