{% extends "base.html" %}
{% block page_title %}Change Film{% endblock %}
{% block content %}
<div id="content">
  {% if errors %}
  <p class="errmsg">Please correct the following errors:</p>
    {% if None in errors %}
      <div class="errmsg">{{ errors[None] }}</div>
    {% endif %}
  {% endif %}
  <form class="mainform" name="chgfilm" action="/film/{{ film.id }}/save"
        method="post">
    <input type="hidden" name="rowver" value="{{ film.rowver }}" />
    {%- set edit = true -%}
    {% include "film/fields.html" %}
    <div class="submit-btn">
      <p class="delbox"><a href="/film/{{ film.id }}/delete">Delete</a></p>
      <input type="submit" name="save" value="Save" />
    </div>
  </form>
</div>
{% endblock %}
