{% extends "base.html" %}
{% block page_title %}Films{% endblock %}
{% block content %}
<div id="changelist">
  {%- if errors %}
  <p class="errmsg">Please correct the following errors:</p>
    {% if None in errors %}
      <div class="errmsg">{{ errors[None] }}</div>
    {% endif %}
  {% endif %}
  <table border="1">
    <thead class="colhead">
      <tr>
        <th>Name</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody class="colsrch">
      <tr>
        <td colspan="2">
          <form>
            <input type="text" id="title" name="title" size="32"
                   value="{{ qry_args['title'] or '' }}" />
            <input type="text" id="release_year" name="release_year" size="8"
                   value="{{ qry_args['release_year'] or ''}}" />
            <input type="submit" value="Search" />
          </form>
        </td>
      </tr>
    </tbody>
    <tbody>
      {% for film in films -%}
      <tr class="{{ loop.cycle('row1', 'row2') }}">
        <th scope="row"><a href="/film/{{ film.id }}">
            {{- film.title|e }}</a></th>
        <td>{{ film.release_year }}</td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
  <p class="paginate">
    {%- for i in range(1, numpages + 1) -%}
      {% if curr_page == i -%}
        <span class="this-page">{{ i }}</span>
      {% else -%}
        <a href="?{{ qry_args['title'] and ('title=' + qry_args['title'] + '&') or '' }}{{ qry_args['release_year'] and ('release_year=' + qry_args['release_year']|e + '&') or '' }}p={{ i }}">{{ i }}</a>
      {% endif -%}
    {% endfor -%}
    <span id="count">{{ numrows }} films</span>
  </p>
</div>
{% endblock %}
