{% extends "base.html" %}
{% block page_title %}Select film to change{% endblock %}
{% block content %}
<ul class="newlink"><li><a href="/film/new">New film</a></li></ul>
<div id="changelist">
  {%- if errors %}
  <p class="errmsg">Please correct the following errors:</p>
    {% if None in errors %}
      <div class="errmsg">{{ errors[None] }}</div>
    {% endif %}
  {% endif %}
  <table border="1">
    <thead>
      <tr><th>Name</th></tr>
    </thead>
    <tbody>
      {% for film in films -%}
      <tr class="{{ loop.cycle('row1', 'row2') }}">
        <th scope="row"><a href="/film/{{ film.id }}">
            {{- film|e }}</a></th>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
  <p class="paginate">
    {%- for i in range(1, numpages + 1) -%}
      {% if curr_page == i -%}
        <span class="this-page">{{ i }}</span>
      {% else -%}
        <a href="?p={{ i }}">{{ i }}</a>
      {% endif -%}
    {% endfor -%}
    <span id="count">{{ numrows }} films</span>
  </p>
</div>
{% endblock %}
