{% extends "base.html" %}
{% block page_title %}New Film{% endblock %}
{% block content %}
<div id="content">
  {%- if errors %}
  <p class="errmsg">Please correct the following errors:</p>
    {%- if None in errors %}
      <div class="errmsg">{{ errors[None] }}</div>
    {% endif -%}
  {% endif %}
  <form class="mainform" name="addfilm" action="/film/create"
	method="post">
    {% include "film/fields.html" %}
    <div class="submit-btn">
      <input type="submit" name="save" value="Save" />
    </div>
  </form>
</div>
{% endblock %}
